<div class="cta">
    <div class="msg">
        <h3>Heading</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, incidunt?</p>
        <button>Order Now!</button>
    </div>
    <div class="cube-wrap">
        <div class="cube">
            <div class="side top"></div>
            <div class="side bottom"></div>
            <div class="side front"></div>
            <div class="side back"></div>
            <div class="side left"></div>
            <div class="side right"></div>
        </div>
    </div>
</div>