<section class="section-best-sellers" id="particles2">
    <h2>Best Sellers</h2>
    <div class="best-seller-grid">
        <img src="assets/images/best-seller-1.png" alt="Picture of Ice Cream" class="best-seller-grid-img-big">
        <div class="best-seller-grid-small">
            <img src="assets/images/best-seller-2.png" alt="Picture of Ice Cream" class="best-seller-grid-small-img-1">
            <img src="assets/images/best-seller-3.png" alt="Picture of Ice Cream" class="best-seller-grid-small-img-2">
            <img src="assets/images/best-seller-4.png" alt="Picture of Ice Cream" class="best-seller-grid-small-img-3">
            <img src="assets/images/best-seller-5.png" alt="Picture of Ice Cream" class="best-seller-grid-small-img-4">
        </div>
    </div>
</section>