<section class="section-choose" id="particles4">
    <h2 class="section-choose-header">Choose</h2>
    <div class="section-choose-grid">
        <div class="section-choose-grid-cell-front">
            <div class="section-choose-grid-cell-front-img">
                <img src="assets/images/choose-1.png" alt="Picture of Ice Cream" class="section-choose-grid-cell-front-img-image">
            </div>
            <div class="section-choose-grid-cell-front-info">
                <p class="section-choose-grid-cell-front-info-text">It is a long established fact that a reader will be distracted by the</p>
                <div class="section-choose-grid-cell-front-info-rating">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </div>
            <div class="section-choose-grid-cell-back"></div>
        </div>
        <div class="section-choose-grid-cell-front">
            <div class="section-choose-grid-cell-front-img">
                <img src="assets/images/choose-2.png" alt="Picture of Ice Cream" class="section-choose-grid-cell-front-img-image">
            </div>
            <div class="section-choose-grid-cell-front-info">
                <p class="section-choose-grid-cell-front-info-text">It is a long established fact that a reader will be distracted by the</p>
                <div class="section-choose-grid-cell-front-info-rating">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </div>
            <div class="section-choose-grid-cell-back"></div>
        </div>
        <div class="section-choose-grid-cell-front">
            <div class="section-choose-grid-cell-front-img">
                <img src="assets/images/choose-3.png" alt="Picture of Ice Cream" class="section-choose-grid-cell-front-img-image">
            </div>
            <div class="section-choose-grid-cell-front-info">
                <p class="section-choose-grid-cell-front-info-text">It is a long established fact that a reader will be distracted by the</p>
                <div class="section-choose-grid-cell-front-info-rating"><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i></div>
            </div>
            <div class="section-choose-grid-cell-back"></div>
        </div>
        <div class="section-choose-grid-cell-front">
            <div class="section-choose-grid-cell-front-img">
                <img src="assets/images/choose-4.png" alt="Picture of Ice Cream" class="section-choose-grid-cell-front-img-image">
            </div>
            <div class="section-choose-grid-cell-front-info">
                <p class="section-choose-grid-cell-front-info-text">It is a long established fact that a reader will be distracted by the</p>
                <div class="section-choose-grid-cell-front-info-rating"><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i></div>
            </div>
            <div class="section-choose-grid-cell-back"></div>
        </div>
        <div class="section-choose-grid-cell-front">
            <div class="section-choose-grid-cell-front-img">
                <img src="assets/images/choose-5.png" alt="Picture of Ice Cream" class="section-choose-grid-cell-front-img-image">
            </div>
            <div class="section-choose-grid-cell-front-info">
                <p class="section-choose-grid-cell-front-info-text">It is a long established fact that a reader will be distracted by the</p>
                <div class="section-choose-grid-cell-front-info-rating"><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i></div>
            </div>
            <div class="section-choose-grid-cell-back"></div>
        </div>
        <div class="section-choose-grid-cell-front">
            <div class="section-choose-grid-cell-front-img">
                <img src="assets/images/choose-6.png" alt="Picture of Ice Cream" class="section-choose-grid-cell-front-img-image">
            </div>
            <div class="section-choose-grid-cell-front-info">
                <p class="section-choose-grid-cell-front-info-text">It is a long established fact that a reader will be distracted by the</p>
                <div class="section-choose-grid-cell-front-info-rating"><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i></div>
            </div>
            <div class="section-choose-grid-cell-back"></div>
        </div>
        <div class="section-choose-grid-cell-front">
            <div class="section-choose-grid-cell-front-img">
                <img src="assets/images/choose-7.png" alt="Picture of Ice Cream" class="section-choose-grid-cell-front-img-image">
            </div>
            <div class="section-choose-grid-cell-front-info">
                <p class="section-choose-grid-cell-front-info-text">It is a long established fact that a reader will be distracted by the</p>
                <div class="section-choose-grid-cell-front-info-rating"><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i></div>
            </div>
            <div class="section-choose-grid-cell-back"></div>
        </div>
        <div class="section-choose-grid-cell-front">
            <div class="section-choose-grid-cell-front-img">
                <img src="assets/images/choose-8.png" alt="Picture of Ice Cream" class="section-choose-grid-cell-front-img-image">
            </div>
            <div class="section-choose-grid-cell-front-info">
                <p class="section-choose-grid-cell-front-info-text">It is a long established fact that a reader will be distracted by the</p>
                <div class="section-choose-grid-cell-front-info-rating"><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i></div>
            </div>
            <div class="section-choose-grid-cell-back"></div>
        </div>
        <div class="section-choose-grid-cell-front">
            <div class="section-choose-grid-cell-front-img">
                <img src="assets/images/choose-9.png" alt="Picture of Ice Cream" class="section-choose-grid-cell-front-img-image">
            </div>
            <div class="section-choose-grid-cell-front-info">
                <p class="section-choose-grid-cell-front-info-text">It is a long established fact that a reader will be distracted by the</p>
                <div class="section-choose-grid-cell-front-info-rating"><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i></div>
            </div>
            <div class="section-choose-grid-cell-back"></div>
        </div>
    </div>
</section>