<section class="section-choose">
    <h2 class="section-choose-header">Choose</h2>
    <div class="section-choose-grid">
        <div class="section-choose-grid-cell-front">
            <img src="assets/images/most-loved-1.png" alt="Picture of Ice Cream" class="section-choose-grid-cell-front-img">
            <div class="section-choose-grid-cell-front-info">
                <p class="section-choose-grid-cell-front-info-text">It is a long established fact that a reader will be distracted by the</p>
                <div class="section-choose-grid-cell-front-info-rating">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </div>
            <div class="section-choose-grid-cell-back"></div>
        </div>
        <div class="section-choose-grid-cell-front">
            <img src="assets/images/most-loved-2.png" alt="Picture of Ice Cream" class="section-choose-grid-cell-front-img">
            <div class="section-choose-grid-cell-front-info">
                <p class="section-choose-grid-cell-front-info-text">It is a long established fact that a reader will be distracted by the</p>
                <div class="section-choose-grid-cell-front-info-rating">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </div>
            <div class="section-choose-grid-cell-back"></div>
        </div>
        <div class="section-choose-grid-cell-front">
            <img src="assets/images/most-loved-3.png" alt="Picture of Ice Cream" class="section-choose-grid-cell-front-img">
            <div class="section-choose-grid-cell-front-info">
                <p class="section-choose-grid-cell-front-info-text">It is a long established fact that a reader will be distracted by the</p>
                <div class="section-choose-grid-cell-front-info-rating"><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i></div>
            </div>
            <div class="section-choose-grid-cell-back"></div>
        </div>
        <div class="section-choose-grid-cell-front">
            <img src="assets/images/most-loved-1.png" alt="Picture of Ice Cream" class="section-choose-grid-cell-front-img">
            <div class="section-choose-grid-cell-front-info">
                <p class="section-choose-grid-cell-front-info-text">It is a long established fact that a reader will be distracted by the</p>
                <div class="section-choose-grid-cell-front-info-rating"><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i></div>
            </div>
            <div class="section-choose-grid-cell-back"></div>
        </div>
        <div class="section-choose-grid-cell-front">
            <img src="assets/images/most-loved-2.png" alt="Picture of Ice Cream" class="section-choose-grid-cell-front-img">
            <div class="section-choose-grid-cell-front-info">
                <p class="section-choose-grid-cell-front-info-text">It is a long established fact that a reader will be distracted by the</p>
                <div class="section-choose-grid-cell-front-info-rating"><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i></div>
            </div>
            <div class="section-choose-grid-cell-back"></div>
        </div>
        <div class="section-choose-grid-cell-front">
            <img src="assets/images/most-loved-3.png" alt="Picture of Ice Cream" class="section-choose-grid-cell-front-img">
            <div class="section-choose-grid-cell-front-info">
                <p class="section-choose-grid-cell-front-info-text">It is a long established fact that a reader will be distracted by the</p>
                <div class="section-choose-grid-cell-front-info-rating"><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i></div>
            </div>
            <div class="section-choose-grid-cell-back"></div>
        </div>
        <div class="section-choose-grid-cell-front">
            <img src="assets/images/most-loved-1.png" alt="Picture of Ice Cream" class="section-choose-grid-cell-front-img">
            <div class="section-choose-grid-cell-front-info">
                <p class="section-choose-grid-cell-front-info-text">It is a long established fact that a reader will be distracted by the</p>
                <div class="section-choose-grid-cell-front-info-rating"><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i></div>
            </div>
            <div class="section-choose-grid-cell-back"></div>
        </div>
        <div class="section-choose-grid-cell-front">
            <img src="assets/images/most-loved-2.png" alt="Picture of Ice Cream" class="section-choose-grid-cell-front-img">
            <div class="section-choose-grid-cell-front-info">
                <p class="section-choose-grid-cell-front-info-text">It is a long established fact that a reader will be distracted by the</p>
                <div class="section-choose-grid-cell-front-info-rating"><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i></div>
            </div>
            <div class="section-choose-grid-cell-back"></div>
        </div>
        <div class="section-choose-grid-cell-front">
            <img src="assets/images/most-loved-3.png" alt="Picture of Ice Cream" class="section-choose-grid-cell-front-img">
            <div class="section-choose-grid-cell-front-info">
                <p class="section-choose-grid-cell-front-info-text">It is a long established fact that a reader will be distracted by the</p>
                <div class="section-choose-grid-cell-front-info-rating"><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i></div>
            </div>
            <div class="section-choose-grid-cell-back"></div>
        </div>
    </div>
</section>