<section id="delicious">
    <div>
        <h2>Delicious</h2>
        <div class="flexContainer">
            <div class="txt">
                <h3>Heading</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa itaque eos quaerat dolorem? Odit vel
                    animi in, neque debitis exercitationem!</p>
            </div>
            <div class="imgContainer">
                <img src="assets/images/delicious1.jpg" alt="ice cream">
            </div>
        </div>
        <div class="flexContainer">
            <div class="txt">
                <h3>Heading</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa itaque eos quaerat dolorem? Odit vel
                    animi in, neque debitis exercitationem!</p>
            </div>
            <div class="imgContainer">
                <img src="assets/images/delicious2.jpg" alt="ice cream">
            </div>
        </div>
        <div class="flexContainer">
            <div class="txt">
                <h3>Heading</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa itaque eos quaerat dolorem? Odit vel
                    animi in, neque debitis exercitationem!</p>
            </div>
            <div class="imgContainer">
                <img src="assets/images/delicious3.jpg" alt="ice cream">
            </div>
        </div>
        <div class="flexContainer">
            <div class="txt">
                <h3>Heading</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa itaque eos quaerat dolorem? Odit vel
                    animi in, neque debitis exercitationem!</p>
            </div>
            <div class="imgContainer">
                <img src="assets/images/delicious4.jpg" alt="ice cream">
            </div>
        </div>
    </div>
</section>