<section id="delicious">
    <div>
        <h2 class="delicious-header">Delicious</h2>
        <div class="flexContainer">
            <div class="txt">
                <h3>Heading</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa itaque eos quaerat dolorem? Odit vel
                    animi in, neque debitis exercitationem!</p>
            </div>
            <div class="imgContainer">
                <img src="assets/images/delicious-1.jpg" alt="ice cream">
            </div>
        </div>
        <div class="flexContainer">
            <div class="txt">
                <h3>Heading</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa itaque eos quaerat dolorem? Odit vel
                    animi in, neque debitis exercitationem!</p>
            </div>
            <div class="imgContainer">
                <img src="assets/images/delicious-2.jpg" alt="ice cream">
            </div>
        </div>
        <div class="flexContainer">
            <div class="txt">
                <h3>Heading</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa itaque eos quaerat dolorem? Odit vel
                    animi in, neque debitis exercitationem!</p>
            </div>
            <div class="imgContainer">
                <img src="assets/images/delicious-3.jpg" alt="ice cream">
            </div>
        </div>
        <div class="flexContainer">
            <div class="txt">
                <h3>Heading</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa itaque eos quaerat dolorem? Odit vel
                    animi in, neque debitis exercitationem!</p>
            </div>
            <div class="imgContainer">
                <img src="assets/images/delicious-4.jpg" alt="ice cream">
            </div>
        </div>
    </div>
</section>