<section class="hero" id="particles1">
    <div class="hero">
        <div class="heroImage"></div>
        <div class="container content">
            <h1>all for the sweet tooth</h1>
            <h3>Explore all flavors</h3>
            <div class="cta-btn">
                <button class="btn">Explore</button>
                <button class="btn btn-filled">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="sliderWrapper">
        <div class="sliderContainer">
            <div class='slider'>
                <div class='slide'>
                    <div class="txt">Everything is sweeter and more colorful with sprinkles on top.</div>
                </div>
            </div>
            <div class='slider'>
                <div class='slide'>
                    <div class="txt">Everything is sweeter and more colorful with sprinkles on top.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="sliderWrapper" style="bottom: 0px">
        <div class="sliderContainer">
            <div class='slider'>
                <div class='slide'>
                    <div class="txt">A little lick of frozen cream every now and then, goes a long, long way.</div>
                </div>
            </div>
            <div class='slider'>
                <div class='slide'>
                    <div class="txt">A little lick of frozen cream every now and then, goes a long, long way.</div>
                </div>
            </div>
        </div>
    </div>
</section>
             