<section class="most-loved" id="particles3">
    <h2 class="most-loved-header">Most Loved</h2>
    <div class="most-loved-carousel">
        <div class="cell">
            <img src="assets/images/most-loved-1.png" alt="">
            <p class="most-loved-carousel-text">It is a long established fact that a reader will be distracted by the</p>
            <div class="most-loved-carousel-rating">
                <i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i>
            </div>
        </div>
        
        <div class="cell">
            <img src="assets/images/most-loved-2.png" alt="">
            <p class="most-loved-carousel-text">It is a long established fact that a reader will be distracted by the</p>
            <div class="most-loved-carousel-rating">
                <i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i>
            </div>
        </div>

        <div class="cell">
            <img src="assets/images/most-loved-3.png" alt="">
            <p class="most-loved-carousel-text">It is a long established fact that a reader will be distracted by the</p>
            <div class="most-loved-carousel-rating">
                <i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i>
            </div>
        </div>

        <div class="cell">
            <img src="assets/images/most-loved-1.png" alt="">
            <p class="most-loved-carousel-text">It is a long established fact that a reader will be distracted by the</p>
            <div class="most-loved-carousel-rating">
                <i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i>
            </div>
        </div>

        <div class="cell">
            <img src="assets/images/most-loved-1.png" alt="">
            <p class="most-loved-carousel-text">It is a long established fact that a reader will be distracted by the</p>
            <div class="most-loved-carousel-rating">
                <i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i>
            </div>
        </div>

        <div class="cell">
            <img src="assets/images/most-loved-1.png" alt="">
            <p class="most-loved-carousel-text">It is a long established fact that a reader will be distracted by the</p>
            <div class="most-loved-carousel-rating">
                <i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i><i class="fa-solid fa-heart"></i>
            </div>
        </div>
    </div>
</section>