<div class="most-loved">
    <div class="most-loved-carousel">
        <div class="cell">
            <img src="assets/imgs/most-loved.png" alt="Picture Of Ice Cream" />
            <p class="most-loved-cell-text">It is a long established fact that a reader will be distracted by the</p>
            <div class="most-loved-cell-rating">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
            </div>
        </div>
        <div class="cell">
            <img src="assets/imgs/most-loved.png" alt="Picture Of Ice Cream" />
            <p class="most-loved-cell-text">It is a long established fact that a reader will be distracted by the</p>
            <div class="most-loved-cell-rating">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
            </div>
        </div>
        <div class="cell">
            <img src="assets/imgs/most-loved.png" alt="Picture Of Ice Cream" />
            <p class="most-loved-cell-text">It is a long established fact that a reader will be distracted by the</p>
            <div class="most-loved-cell-rating">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
            </div>
        </div>
        <div class="cell">
            <img src="assets/imgs/most-loved.png" alt="Picture Of Ice Cream" />
            <p class="most-loved-cell-text">It is a long established fact that a reader will be distracted by the</p>
            <div class="most-loved-cell-rating">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
            </div>
        </div>
        <div class="cell">
            <img src="assets/imgs/most-loved.png" alt="Picture Of Ice Cream" />
            <p class="most-loved-cell-text">It is a long established fact that a reader will be distracted by the</p>
            <div class="most-loved-cell-rating">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
            </div>
        </div>
    </div>
</div>