<nav class="navbar">
    <div class="navbar-logo"><a href="#">Delicious Creams</a></div>
    <button id="toggle-nav" class="navbar-toggler" aria-label="Toggle Navbar"><span class="navbar-toggler-icon"></span></button>
    <div class="navbar-links">
        <div class="navbar-btn"><a class="btn" href="#">Variety</a></div>
        <div class="navbar-btn"><a href="#">Special</a></div>
        <div class="navbar-btn"><a href="#">Orders</a></div>
        <div class="navbar-btn navbar-btn-filled"><a href="#">Buy</a></div>
    </div>
</nav>