:root {
    // ***** COLOR *****
    --color-aqua: #28AAAA;
    --color-white: #FFFFFF;

    // ***** NAVBAR *****
    --navbar-link-gap: 2rem;
    --navbar-link-gap-vertical: .2rem;
    --navbar-btn-height: 3rem;
    --navbar-btn-width: 9.7rem;
    --navbar-logo-font-size: 2.3rem;
}