.section-best-sellers {
    h2 {
        color: var(--color-aqua-slightly-light);
        font-family: 'Kalam';
        font-style: normal;
        font-weight: 700;
        font-size: var(--best-seller-heading-font-size);
        line-height: 57px;
        text-align: center;
    }

    .best-seller-grid {
        display: flex;
        justify-content: center;
        gap: var(--best-seller-grid-gap);

        margin-top: 6rem;
        
        &-img-big {
            border-radius: var(--best-seller-img-border-radius);
            @include imgBoxShadow;
        }
        

        &-small {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: var(--best-seller-grid-gap);

            img {
                width: 100%;   
                height: 100%;
                @include imgBoxShadow; 
            }

            &-img-1 {
                border-radius: var(--best-seller-img-border-radius) 0px 0px 0px;
            }
            &-img-2 {
                border-radius: 0px var(--best-seller-img-border-radius) 0px 0px;
            }
            &-img-3 {
                border-radius: 0px 0px 0px var(--best-seller-img-border-radius);
            }
            &-img-4 {
                border-radius: 0px 0px var(--best-seller-img-border-radius) 0px;
            }
        }

        @media only screen and (max-width: 87.5em) {
            margin-top: 3rem;
        };

        @include respond(tab-land) {
            flex-direction: column;
            margin-top: 2.5rem;
        }

        @media only screen and (max-width: 62.5em) {
            margin-top: 1rem;
        };

        @include respond(phone) {
            margin-top: .5rem;
        }
    }
}