.section-choose {
    z-index:7;
    background-color: lighten(pink, 8%);
    border-radius: var(--choose-border-radius);
    animation: fadeIn $fade-animation-time;
    padding-top: 2rem;
    margin-top: var(--choose-header-margin-top);
    padding-bottom: 4rem;

    &-header {
        margin-top: 0;
        margin-bottom: var(--choose-header-margin-bottom);
    }

    &-grid {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: var(--choose-grid-gap);
        row-gap: var(--choose-grid-gap);
        margin: 0 calc(var(--choose-grid-gap) * 1.6);
        
        &-cell {
            transition: transform 0.6s;
            transform-style: preserve-3d;

            &-front, &-back {
                backface-visibility: hidden;
            }

            &-front {
                cursor:pointer;
                z-index: 7;
                border-radius: var(--choose-border-radius);
                text-align: center;
                overflow: hidden;

                &-img {
                    overflow: hidden;
                    width: 100%;
                    border-radius: var(--choose-border-radius)  var(--choose-border-radius) 0 0;
                    
                    &-image {
                        width: 100%;
                        border-radius: var(--choose-border-radius)  var(--choose-border-radius) 0 0;
                        transition: all 0.4s ease;

                        &:hover {
                            transform: scale(var(--image-scale-factor));
                        }
                    }
                }

                &-info {
                    background-color: var(--color-cream-contrast);    
                    padding: 1rem 4rem;
                    border-radius: 0 0 var(--choose-border-radius) var(--choose-border-radius) ;

                    &-text {
                        font-family: 'Mulish', 'Inter', 'sans-serif';
                        font-style: normal;
                        font-weight: 500;
                        font-size: var(--choose-font-size);
                        line-height: var(--choose-line-height);
                        text-align: center;
                        color: var(--color-black);
                    }

                    &-rating {
                        text-align: center;
                        display:flex;
                        justify-content: center;
                        font-size: var(--choose-icon-size);
                        margin-bottom: var(--choose-icon-gap);

                        i {
                            color: var(--color-dark-grey);
                            transform: scale(1);
                            

                            &:not(:last-child) {
                                margin-right: var(--choose-icon-gap);
                            }

                            &:hover {
                                animation: pulsate 0.85s infinite;
                            }
                        }
                    }

                }
            }
        }
    }
}

