// main hero
#hero {
    animation: fadeIn $fade-animation-time;
    width: 99vw;
    position: relative;
    top: -2vw;
    left: 50%;
    transform: translate(-50%);
}

.hero {
    // colors. using css variable due to some limitations with scss variables
    --color-primary: hsl(184, 75%, 38%);
    --color-primary-hue: 184;
    --color-primary-saturation: 75%;
    --color-primary-lightness: 50%;

    position: relative;
    min-height: 120rem;
    // background-color: aquamarine;

    .heroImage {
        position: sticky;
        top: 0;
        margin: auto;
        height: 80rem;
        width: 100%;
        background-image: url('../../assets/images/hero.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        z-index: -1;
    }

    .content {
        position: sticky;
        bottom: 4rem;

        margin-left: 23rem;
        padding: 3rem;
        color: var(--color-primary);
        overflow: hidden;
        display: inline-block;
        width: 50rem;

        h1 {
            text-transform: uppercase;
            max-width: 40.7rem;
            @include textShadow(.5rem, hsl(0, 0%, 45%));
        }

        h3 {
            @include textShadow(.8rem, hsl(0, 0%, 45%));

        }

        .cta-btn {
            margin-top: 3rem;

        }

    }

    @media(max-width: 48em) {

        .content {
            bottom: 35vh;
            margin-left: 0;
        }
    }
}