.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    z-index: 100;


    &-logo {
        a:link, 
        a:visited {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 900;
            font-size: var(--navbar-logo-font-size);
            line-height: 1.9rem;
            color: var(--color-aqua);
            text-decoration: none;
        }
    }

    &-links {
        display: flex;
        margin-left: auto;
    }

    &-btn {
        border: 0.18rem solid var(--color-aqua);
        border-radius: 100vw;
        width: var(--navbar-btn-width);
        height: var(--navbar-btn-height);

        a:link, 
        a:visited {
            text-align: center;
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 900;
            font-size: 1.6rem;
            line-height: 1.8rem;
            color: var(--color-aqua);
            text-transform: none;
            text-decoration: none !important;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        
        &-filled {
            background-color: var(--color-aqua);

            a:link, 
            a:visited {
                color: var(--color-white);
            }
        }

        &:not(:last-child) {
            margin-right: var(--navbar-link-gap);
        }
    }
}

#toggle-nav {
    display: none;
    cursor: pointer;
    border: .2rem solid var(--color-aqua);
    
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

@include respond(tab-port) {
    .navbar {

        &-links {
            display: none;
        }
        
        #toggle-nav {
            display: block;
        }

        &-show {
            align-items: center;
        }
        
        &-links-show {
            flex-basis: 100%;
            margin-left: 0;
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 100%;
            top: 3.2rem;
            background-color: white;

            .navbar-btn {
                margin-top: 0;
                width: 100%;
                border-radius: .5rem;
                font-weight: 900;
                
                &:first-child {
                    margin-top: .2rem;
                }

                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: var(--navbar-link-gap-vertical);
                }
            }
        }
    }
}

