.cell {
    width: 33%;
    height: var(--carousel-cell-height);
    margin: 0 1.5rem;
    overflow: hidden;
    border-radius: 1.6rem;
    animation: fadeIn $fade-animation-time;
  }
  
  .cell img {
    width: 100%;
    height: var(--carousel-cell-height);
    object-fit: cover;
    transition: all 0.4s ease;
    vertical-align: middle;
  
    &:hover {
      transform: scale(var(--image-scale-factor));
      -ms-transform: scale(var(--image-scale-factor)); /* IE 9 */
      -moz-transform: scale(var(--image-scale-factor)); /* Firefox */
      -webkit-transform: scale(var(--image-scale-factor)); /* Safari and Chrome */
      -o-transform: scale(var(--image-scale-factor)); /* Opera */
    }
  }
  
  .cell {
    margin: 0 .3rem !important;
  }