@function toRem($value) {
    $remValue: ($value / 10)+rem; // default font value is changed in _base.scss
     @return $remValue;

}

@mixin textShadow($blur, $color) {
    text-shadow: 3px 2px $blur $color;
}
.bg-transparent {
    background-color: transparent !important;
  }
